<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>No PDF</title>

	<link rel="stylesheet" href="/static/candy.css">
	<script src="/static/candy.js" type="text/javascript"></script>
</head>

<body>

	<div id="info">
		<div class="error">
			<h1>&#9888;</h1>
			{{ error_html }}
		</div>

		<ul>
			<li>The PDF folder should contain topic folders, and the topic folders should hold PDF files (and perhaps also subtopic folders with PDFs).</li>

			<li>Look in the <span class="code">settings.py</span> file in the app folder. Make sure that <span class="code">pdf_path</span> points to an existing folder with this structure.</li>
		</ul>
		
		<p><a class="confirm_button" onclick="window.location.reload(true)" href="javascript:void(0);">Retry</a></p>
	</div>
	
</body>
</html>
	