<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Update Paper</title>

  <link rel="stylesheet" href="/static/candy.css">
  <script src="/static/candy.js" type="text/javascript"></script>
</head>

<body>

<div id = "paper_details">
	<form id="paper_details_form" method="POST" enctype="multipart/form-data" action="/paper">
		<input type="hidden" name="updatepaper" value="1"/>
		<input type="hidden" name="id" value="{{ paper_id }}"/>
		<div id="name">
			<a href="https://scholar.google.co.uk/scholar?q={{ paper_scholar_keywords }}" target="_blank"><img src="/static/scholar.png" width="56" /></a>
			<p>{{ paper_title }}</p> 
			<p id="authordate">{{ paper_authors }}</p> 
		</div>
		<div id="stars">
	        <select id="star_rating" name="sr" onchange="update_star_display()">
	            <option value="0" {{ star0_selected }}>(Not Rated)</option>
	            <option value="1" {{ star1_selected }}>1 Star</option>
	            <option value="2" {{ star2_selected }}>2 Stars</option>
	            <option value="3" {{ star3_selected }}>3 Stars - Excellent</option>
	        </select>
			<div id="star_display">
				{{ star0123_html }}
			</div>
		</div>
		<div id="extra">
			<div id="right">
				<div id="image_upload">
					<p>{{ image_section_heading }}</p>
					<div id="uploadarea">
						<div id="current_image">
							{{ image_html }}	
						</div>
			 			<input type="file" name="file"><br/>
			 			{{ deleteim_checkbox_html }}						
			 			<div class="clearleft"></div>
					</div>
				</div>
				<div id="external_files">
					<p>Link local files or folders <button onclick="add_external_file_md_example()" type="button"> + </button>
			 		<textarea id="extra_files" name="ef">{{ external_files }}</textarea>
				</div>
			</div>		
			<div id="left">
				<div id="commentary">
					<textarea id="commentary_text" name="com">{{ commentary }}</textarea>
					<p>Add <a href="https://www.markdownguide.org/cheat-sheet" target="_blank">Markdown</a> into the commentary text to make headings, bullets etc.</p>
				</div>				
			</div>
		</div>
		<div id="buttons">
			<a onclick="history.go(-1)" href="javascript:void(0);" class="cancel_button">Cancel</a>
			<a onclick="document.getElementById('paper_details_form').submit()" href="javascript:void(0);" class="confirm_button">Update Paper</a>
		</div>
	</form>
	{{ htags_html }}	
</div>



</body>
</html>
	