/*
 * 	PDFcandy styles
 * 	Ben Shirt-Ediss, 2018
 *
 */


body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #000;
}

a {
	text-decoration: none;
}

.u {
	text-decoration: underline;
}

/* colours of 1,2,3 paper stars */
/* open star is &#9734, filled star is &#9733;
*/

.s0 {
	color: #eed;
}

.s1 {
	color: #000000;
}

.s2 {
	color: #000000;
}

.s3 {
	color: #000000;	
	/*color: #ec4899;*/
}

/* buttons */

a.confirm_button {
	padding: 8px 30px 8px 30px;
	margin: 0 5px 0 5px;
	font-size: 14pt;
	color: #fff;
	background-color: #0cbc3e;
	border: 2px solid #0cbc3e;
	border-radius: 8px;
}

a.confirm_button:hover {
	border: 2px solid #009900;
}

a.confirm_button span {
	font-size: 10pt;
	font-weight: normal;
}

a.cancel_button {
	padding: 8px 30px 8px 30px;
	margin: 0 5px 0 5px;
	font-size: 14pt;
	color: #fff;
	background-color: #aaa;
	border: 2px solid #aaa;
	border-radius: 8px;
}

a.cancel_button:hover {
	border: 2px solid #666;
}



/* hash tag text style */

.code {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: bold;
}

.ht {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: bold;
	background-color: #ffcc00;
	color: #275c8c;
}


/* generic div styles */

.clearright {
	clear: right
}

.clearleft {
	clear: left
}

.centre {
	text-align: center;
}



/* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic */
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}






/*
 * PAGE 1: PDFcandy index page
 *
 *
 *
 */


#reindex_menu {
	display: none;			/* re-index menu is hidden by default) */
	padding: 5px;
	text-align: center;
	background-color: #ddd;
	border: 1px solid #ccc;
}

	#reindex_menu #version {
		position: absolute;
		top: 5px;
		left: 5px;
		padding: 2px;
		font-size: 8pt;
		border: 1px solid #ccc;
		color: #aaa;
		background-color: #eee;
	}	

	#reindex_menu #path {
		padding: 5px;
		font-size: 12pt;
	}


	#reindex_menu #expand_commentaries {
		font-size: 8pt;
	}	

	#reindex_menu #buttons {
		margin: 10px;
	}

	#reindex_menu .ri_symbol {
		font-size: 20pt;
	}

#toclipboard {
	display: none;
	position: fixed;	/* fixed in top right, even when scrolling */
	top: 2px;
	right: 2px;
	padding: 5px;
	background-color: #82e55c;
	border: 1px solid #000;
	border-radius: 6px;
}



#header {
	padding: 10px;
	margin: 0 0 2px 0;
	background-image: url(background.png);
	background-repeat: repeat-x;
	border-style: solid;
	border-color: #000;
	border-width: 1px 1px 2px 1px;
}

	#header #collection {
		font-size: 24pt;
		width: 50%;
		border-radius: 8px;
		margin: 10px auto 10px auto;
		padding: 5px;
		background-color: #fff;
		text-align: center;
		opacity: 0.9;
	}

	#header #collection_info {
		font-size: 10pt;
		padding: 5px;
		text-align: center;
	}

	#header #collection_info a {
		padding: 2px 4px 2px 4px;
		font-weight: bold;
		color: #000;
		text-decoration: none;
		border-radius: 6px;
		border: 1px solid #000;
		background-color: #fff;

		line-height:1.2em;		/* force firefox to use use same line height for fonts as other browsers */
		display:inline-block;
	}

	#header #collection_info a:hover {
		color: #000;
		border: 1px solid #000;
		background-color: #ccc;
	}






#articles {
	font-size: 10pt;	
}

	#articles .paper {
		width: 100%;
		clear: both;
		padding: 0;			/* paper titles wider than screen are cut off */	
		overflow: hidden;		
		white-space: nowrap;
		margin: 0 0 2px 0;
	}	

	#articles .paper .details a {
		display: block;
		color: #000;
		background-color: #fff;
	}

	#articles .paper .details_wc a {
		display: block;
		color: #000;
		background-color: #edd; 	/* grey highlight papers with a commentary */
	}


	#articles .paper .details a:hover, #articles .paper .details_wc a:hover {
		background-color: #ced6e1;
	}

	#articles .paper .details .menu, #articles .paper .details_wc .menu {
		float: left;
		margin: 0 2px 0 2px;
	}
	
	#articles .paper .details .menu a, #articles .paper .details_wc .menu a {
		padding: 2px 4px 2px 4px;
		font-weight: bold;
		color: #000;
		text-decoration: none;
		border-radius: 6px;
		border: 1px solid #ccc;
		background-color: #fff;

		line-height:1.2em;		/* force firefox to use use same line height for fonts as other browsers */
			display:inline-block;
	}

	#articles .paper .details .menu a:hover, #articles .paper .details_wc .menu a:hover {
		color: #000;
		border: 1px solid #000;
		background-color: #ccc;
	}

	#articles .paper .details .topic, #articles .paper .details_wc .topic {
		padding: 3px 5px 3px 5px;
		margin-left: 3px;
		border-radius: 8px;

		line-height:1.2em;		/* force firefox to use use same line height for fonts as other browsers */
		display:inline-block;
	}

	#articles .paper .details .subtopic, #articles .paper .details_wc .subtopic {
		padding: 3px 5px 3px 5px;
		margin-left: 3px;
		background-color: #eee;
		color: #333;
		font-style: italic;
		font-weight: bold;
		border-left: 6px solid #333;
		border-right: 6px solid #333;
		border-radius: 8px;

		line-height:1.2em;		/* force firefox to use use same line height for fonts as other browsers */
		display:inline-block;				
	}				

	#articles .paper .details .title, #articles .paper .details_wc .title {
		margin-left: 3px;
	}


	#articles .paper .extra {
		display: none;
		background-color: #e6ebf3;
		margin: 5px 0 5px 0;
		overflow: auto;		
		white-space: normal;
	}

	#articles .paper .extra .commentary {
		width: 80%;
		padding: 5px 15px 15px 15px;
		margin: 0 5px 0 auto;
		background-color: #ced6e1;
		color: #275c8c;
		border: 2px solid #275c8c;
		border-radius: 8px;
		font-size: 10pt;
		font-weight: normal;
	}

	#articles .paper .extra .commentary .updated {
		float: right;
		font-style: italic;
		font-size: 9pt;
	}			

	#articles .paper .extra .commentary .novelty {
		padding: 5px;
		margin: 10px 0 10px 0;
		background-color: #e6ebf3;
		border-radius: 8px;
		text-align: center;
		font-weight: bold;
	}				

	/* -- styles for markdown in commentaries */
	#articles .paper .extra .commentary a {
		color: #0000ff;
		text-decoration: none;
	}

	#articles .paper .extra .commentary h1 { 
		margin: 10px 0 10px 0;
		padding: 0;
		font-size: 16pt;
	}

	#articles .paper .extra .commentary h2 { 
		margin: 8px 0 8px 0;
		padding: 0;
		font-size: 14pt;
	}

	#articles .paper .extra .commentary h3 { 
		margin: 5px 0 5px 0;
		padding: 0;
		font-size: 12pt;
	}

	#articles .paper .extra .commentary p { 
		margin: 5px 0 5px 0;
		padding: 0;
	}

	#articles .paper .extra .commentary blockquote {
		font-style: italic;
		background-color: #e6ebf3;
		padding: 5px;
		border-left: 5px solid #000;
	}
	/* -- styles for markdown in commentaries */

	#articles .paper .extra .commentary img.cc {
		margin: 20px 0 20px 0;
		border: 2px solid #000;
	}

	#articles .paper .extra .commentary img.cr {
		float: right;
		margin: 30px 0 30px 30px;
		border: 2px solid #000;
	}

	#articles .paper .extra .commentary .yb {
		padding: 5px;
		background-color: #eedc5b;	/* xkcd: dull yellow */
		border: 1px solid #275c8c;
	}

	#articles .paper .extra .commentary .bb {
		padding: 5px;
		background-color: #658cbb;	/* xkcd: faded blue */
		border: 1px solid #275c8c;
		color: #fff;
	}

	#articles .paper .extra .commentary .files {
		padding: 5px;
		clear: right;
		background-color: #e6ebf3;
		border-radius: 8px;
		font-weight: bold;
	}

	#articles .paper .extra .commentary .files a {
		padding: 0 0 0 30px;
		color: #0000ff;
		font-weight: bold;
		text-decoration: none;
	}

	#articles .paper .extra .commentary .files a:visited {
		color: #0000ff;
	}	


#footer {
	background-image: url(background.png);
	background-repeat: repeat-x;
	border-style: solid;
	border-color: #000;
	border-width: 2px 1px 1px 1px;
	text-align: center
}

	#back_to_top {
		width: 20%;
		margin: 20px auto 20px auto;
		font-size: 12pt;
		border-radius: 8px;
		padding: 5px;
		background-color: #fff;
		opacity: 0.9;		
	}

	#back_to_top a {
		display: block;
		color: #000;
	}




/*
 *
 * Info pages
 *
 *
 *
 */	

#info {
	width: 50%;
	margin: 20px auto 0 auto;	
	text-align: left;
	font-size: 12pt;
}

	#info img {
		float: left;
		padding-right: 20px;
	}

	#info div.error {
		padding: 5px;
		border: 2px solid #ff0000;
		text-align: center;
	}


	#info h1 {
		font-size: 30pt;
		font-weight: bold;
	}

	#info div.error h1 {
		color: #ff0000;
	}	

	#info h2 {
		font-size: 15pt;
		font-weight: normal;		
	}

	#info ol li {
		padding: 7px;
	}

	#info ul li {
		padding: 7px;
	}	

	#info p {
		padding: 7px;
	}

	#info .code {
		font-weight: normal;
		background: #ddd;
		padding: 2px;
	}






/*
 *
 * PAGE 2: Edit paper details page
 *
 *
 *
 */

#paper_details {
	margin: 10px;
	text-align: center;
	font-size: 12pt;
}

	#paper_details #form {
		margin: 0;
		padding: 0;
	}

	/* form element base styles */
	#paper_details select {
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
		font-weight: normal;		
		font-size: 12pt;
		margin: 3px;
	}

	#paper_details input {
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
		font-weight: normal;
		font-size: 12pt;
		border: 2px solid #000;
		margin: 3px;		
	}

	#paper_details textarea {
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
		font-weight: normal;
		font-size: 12pt;
		border: 2px solid #275c8c;
		margin: 3px;		
	}	

	#paper_details #updatedone {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		padding: 10px;
		margin: 5px;
	}

	#paper_details #updatedone span {
		font-size: 20px;
	}

	#paper_details #name {
		font-size: 26pt;
	}

	#paper_details #name p {
		margin: 5px;
	}	

	#paper_details #name a {
		color: #000;
		text-decoration: none;
	}

	#paper_details #name a:hover {
		text-decoration: underline;
	}	

	#paper_details #name #authordate {
		font-size: 12pt;
		font-style: italic;
		color: #275c8c;
	}	

	#paper_details #name img {
		float: right;
		padding: 5px;
	}	

	#paper_details #stars {
		padding: 5px;
		font-size: 40pt;
	}


	#paper_details #stars #star_display {
		display: inline;
	}


	#paper_details #extra {
		background-color: #e6ebf3;
		padding: 10px 0 10px 0;
	}

	#paper_details #extra p {
		color: #275c8c;
	}	

	#paper_details #extra #left {
		width: 60%;
		margin: 0 auto 0 0;
		padding: 5px;
	}

	#paper_details #extra #left #commentary textarea {
		background-color: #ced6e1;
		color: #275c8c;
		padding: 10px;
		width: 100%;
		height: 280px;
	}

	#paper_details #extra #left #commentary p {
		padding: 0;
		margin: 0;
		text-align: left;
		font-size: 10pt;
	}		

	#paper_details #extra #left #commentary a, #paper_details #extra #left #commentary a:visited {
		color: #0000ff;
	}

	#paper_details #extra #right {
		float: right;
		width: 35%;
		padding: 5px;
	}


	#paper_details #extra #right #image_upload span {
		font-size: 9pt;
	}	

	#paper_details #extra #right #image_upload input {
		border: none;
	}

	#paper_details #extra #right #image_upload input[type=file] {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 300px;
	}

	#paper_details #extra #right #image_upload #current_image {
		float: left;
		width: 100px;
		height: 100px;
		text-align: center;
	}

	#paper_details #extra #right #image_upload #uploadarea {
		padding: 3px;
		background-color: #ced6e1;
	}

	#paper_details #extra #right #external_files {
		clear: left;
		padding-top: 5px;
	}

	#paper_details #extra #right #external_files textarea {
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
		font-size: 11pt;
		padding: 3px;
		width: 97%;
		height: 110px;
		border: none;
		background-color: #ced6e1;
		color: #000;
	}

	#paper_details #buttons {
		background-color: #ddd;		
		padding: 40px;
		clear: both;
	}

	#paper_details #buttons span {
		color: #666;
	}

	#tags {
		padding: 10px;
		text-align: left;
	}

	#tags li {
		display: inline;
		list-style-type: none;
		padding-right: 20px;
		float: left;
	}